*.DotSettings
*.pdb
*.pidb
*.suo
*.user
*.userprefs
*.resources
*.bak
*.log
*.log.*
*.rdl.data
*.tmp.txt
*.eslintcache
_ReSharper.*
/keys
/src/*/.idea
/src/api/*/bin
/src/api/*/obj
/src/api/*/App_Data
/src/ui.web/node_modules
/src/ui.web/packages/*/node_modules
/src/ui.web/packages/*/build
/.project
