*.pdb
*.pidb
*.suo
*.user
*.userprefs
*.resources
*.bak
*.log
*.log.*
*.rdl.data
_ReSharper.*
/*/bin
/*/obj
/*/App_Data
/*/*/bin
/*/*/obj
/*/*/App_Data
/*/*/*/bin
/*/*/*/obj
/*/*/*/App_Data
/packages
/release