<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="Console" />
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.log" />
    <target name="file_net" xsi:type="File" fileName="${basedir}/Logs/${shortdate}_net.log" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="Cen.Wms.NET" minlevel="Debug" writeTo="file_net" />
  </rules>
</nlog>